<strong>Olá {{ student }}, seja muito Bem-vindo(a)! =D</strong>
<p>Você possui uma nova Matrícula cadastrada.</p>
<ul>
  <li><strong>Plano: </strong>{{ plan }}</li>
  <li><strong>Preço: </strong>{{ price }}</li>
  <li><strong>Data de Início: </strong>{{ start_date }}</li>
  <li><strong>Data de Término: </strong>{{ end_date }}</li>
</ul>
<p>Agradecemos pela preferência.</p>
